name: Update Overview Deck
on:
  workflow_dispatch:
  schedule:
      - cron: "0 6 * * *"   # Daily at 06:00 UTC (change if needed)
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: true
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: '3.x'
        pip-install: -r requirements-build-charters.txt
    - name: Run build
      run: |
        cd project_charters
        python ../.github/workflows/build-charters.py
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
    - name: Create Pull Request
      id: create_pr
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
        token: ${{ secrets.PAT }}
        branch-suffix: timestamp
        path: .
        title: Update Charters
        body: |
          Automated update of charters.
          This PR was generated by GitHub Actions.
        commit-message: Update Data Sources
        signoff: true
        delete-branch: true
    - name: Enable auto-merge
      if: steps.create_pr.outputs.pull-request-number != ''
      shell: bash
      run: gh pr merge --merge --auto "1"
      env:
        GH_TOKEN: ${{ secrets.PAT }} 
